button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: ""; clear: both; height: 0;}

* {
  margin: 0;
  padding: 0;
}

$brandRed: rgb(238, 49, 36);
$brandBlue: rgb(0, 58, 93);

img {
  width: 100%;
}

a {
  text-decoration: none;
}

// CATCH ALL CLASSES

.textRight {
  text-align: right;
}

.textFloat-Right {
  float: right;
}

.textCenter {
  text-align: center;
}

.flex {
  display: flex;
}
  // BUTTON STYLING
.standardButton {
  background:  linear-gradient(to bottom, rgba(240,47,23,1) 0%, rgba(246,41,12,1) 0%, rgba(250,229,227,1) 0%, rgba(238,50,36,1) 3%, rgba(238,50,36,1) 100%);
  color: white;
  text-decoration: none;
  padding: 7px 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px black;

}

// WRAPPER

.innerWrapper {
  width: 980px;
  margin: 0 auto;
}

.outerWrapper {
  max-width: 1024px;
  margin: 0 auto;
}

// HEADER STYLING

.hero {
  background: url('/public/assets/Family_Photo.jpg') center right;
  background-size: cover;
  height: 100vh;
}

.headlineContainer {
  background: rgba(247,252,244,0.8);
  width: 40%;
  height: 60%;
  padding: 30px 25px;
  margin-left: 50px;
  max-width: 400px;
  max-height: 550px;
  position: relative;
}

.headline-main {
  border-top: 3px solid $brandRed;
  border-bottom: 3px solid $brandRed;
  margin: 20px 0;
}

.headline-link-container {
  position: absolute;
  bottom: 50px;
  right: 20px;
}

.headline-link-title {
  margin-bottom: 10px;
}

.headline-link a {
  display: block;
  color: white;
  width: 100%;
  background: $brandRed;
  padding: 10px;
  text-align: right;
}


    // BELOW FOLD
.belowFold {
  padding: 50px 0;
}

.belowFold h1 {
  margin: 0 0 0 7px;
}

.belowFold .clearfix .textFloat-Right {
  margin: 5px 0;
}


    // SINCE 1962

.since1962 {
  background: $brandBlue;
  color: white;
  padding: 50px 0;
}

.since1962-narrow {
  border-top: 2px solid $brandRed;
  border-bottom: 2px solid $brandRed;
  padding: 25px 0;
}

.since1962-wide {
  justify-content: space-around;
  margin-top: 40px;
}


  // BY THE NUMBERS

  .byTheNumbers, .philanthropy, .highlights {
    background: linear-gradient(to bottom, rgba(247,252,244,0.8) 0%, rgba(247,252,244,0.8) 100%), url('/public/assets/background.jpg') center center;
    background-size: cover;
    padding: 50px 0;
  }

  .byTheNumbers-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .byTheNumbers-threeCells {
    width: 33%;
    max-width: 250px;
  }
  .byTheNumbers-twoCells {
    width: 50%;
    max-width: 250px;
  }


    // A LETTER FROM THE FOUNDATION

  .foundationLetter {
    padding: 50px 0;

    .foundationLetter-header {
      margin-bottom: 50px;
    }
  }
  .letterContainer {
    justify-content: space-around;
  }
  .letterLeft, .letterRight {
    width: 40%;
  }
  .letterLeft {
    flex-direction: column;
    align-items: flex-end;

    .letterLeft-header {
      width: 100%;
      margin: 5px 0 30px;
    }
    .letterLeft-halfBorder {
      width: 50%;
      border-bottom: 5px solid $brandRed;
      margin-top: 30px;
    }
  }

  .signature {
    margin: 20px 0;
  }
  .signature img {
    width: 50%;
  }


    // FINANCIAL SUMMARY

  .financialSummary {
    background: $brandBlue;
    padding: 50px 0;
    color: white;

    .financialSummary-header {
      margin-bottom: 40px;
    }
    .financialSummary-containerPadding {
      border-bottom: 2px solid $brandRed;
      padding: 10px 0 20px;
      margin-bottom: 20px;

      .middleCell {
        border-right: 2px solid $brandRed;
        border-left: 2px solid $brandRed;
      }
    }
    .borderLeft {
      border-left: 2px solid $brandRed;
    }

    .financialSummary-buttonContainer {
      margin-top: 30px;

      p {
        margin-top: 15px;
      }
    }
    .financialSummary-twoCells {
      width: 50%;
    }
  }


    // FACES OF PHILANTHROPY

  .philanthropy-gallery {
    justify-content: space-between;

    .philanthropy-gallery-cell {
      margin: 0 5px;
      width: calc(20% - 10px);

      .philanthropy-gallery-cell-header {
        margin-bottom: 40px;
        min-height: 50px;
      }
    }
  }
  .philanthropy-gallery-background {
    height: 200px;
    width: 100%;
  }
  .philanthropy-gallery-background.background1 {
    background: url('/public/assets/tina.jpg') center center;
    background-size: cover;
  }
  .philanthropy-gallery-background.background2 {
    background: url('/public/assets/wolkin.jpg') center center;
    background-size: cover;
  }
  .philanthropy-gallery-background.background3 {
    background: url('/public/assets/shael.jpg') center center;
    background-size: cover;
  }
  .philanthropy-gallery-background.background4 {
    background: url('/public/assets/koby.jpg') center center;
    background-size: cover;
  }
  .philanthropy-gallery-background.background5 {
    background: url('/public/assets/greenberg.jpg') top center;
    background-size: cover;
  }

  .philanthropy-footer {
    margin-top: 30px;
  }
  .philanthropy-footer-buttonContainer {
    width: 80%;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 40px;
  }
  .philanthropy-footer-text {
    width: 20%;
    border-top: 5px solid $brandRed;
    padding: 15px 5px 0;
  }
  .philanthropyButton {
    padding: 7px 55px;
  }

      // THE IMPACT

    .impact {
      padding: 30px 0;
    }

    .impact-header {
      margin-bottom: 30px;
    }

    .impactCell {
      width: 50%;
      padding: 0 5px;
      margin-bottom: 30px;

      .impactCell-img {
        height: 250px;
        background: url('https://placehold.it/512x250') no-repeat;
      }
      .impactCell-header {
        margin-top: 20px;
        padding-top: 10px;
        border-top: 3px solid $brandRed;
      }
    }
    .impact-button-container {
      margin-top: 30px;
    }
    .impact-button-text {
      margin-top: 30px;
    }

    // HIGHLIGHTS OF THE YEAR

  .highlights-container {
    flex-wrap: wrap;

    .highlights-cell {
      width: 50%;
      margin-bottom: 40px;

      a:hover .highlights-readmore {
        background: url('http://unsplash.it/400/250') no-repeat;
      }

      h2 {
        margin-top: 15px;
        display: inline-block;
        padding-top: 7px;
        border-top: 3px solid $brandRed;
      }

    }
    .highlights-readmore {
      height: 250px;
      background: url('https://lorempixel.com/400/250') no-repeat;
    }
  }


    // A MESSAGE FROM THE CHAIR

  .boardMessage {
    background: $brandBlue;
    padding: 40px 0 50px;
  }

  .boardMessage-header {
    padding: 20px 0 40px;
  }

  .boardMessage-container {
    justify-content: space-around;
  }
  .boardMessage-container div {
    width: 40%;
  }
  .boardMessage-text {
    flex-wrap: wrap;
  }
  .boardMessage-signature {
    margin-top: 20px;
  }


  // PRE-FOOTER
  .pre-footer div {
    width: 50%;
    margin: 40px 0;
  }
